<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/styles') %>
		<title> <%=title%> </title>
	</head>

	<body>
		<%- include('../partials/nav') %> <%- include('../partials/messages') %>

		<section class="content">
			<div class="container mt-5">
				<div class="row">
					<div class="col-sm-12 col-md-4 offset-md-4 col-lg-6 offset-lg-3">
						<h3 class="text-center">Edit Category</h3>
						<form
							action="/categories/<%=category.id%>/?_method=PATCH"
							method="post"
						>
							<div class="mb-3">
								<label for="title" class="form-label">Title</label>
								<input
									type="text"
									class="form-control"
									id="title"
									name="title"
									value="<%=category.title%>"
								/>
								<div class="mb-2 error">
									<%if (locals.errors) { %> <% for(let [index,data] of
									errors.entries() || []){ %> <% if (data.param === 'title') {
									%>
									<p> <%=data.msg%></p>
									<%} %> <%} %> <% } %>
								</div>
							</div>
							<div class="mb-3">
								<label for="description" class="form-label">Description</label>
								<textarea
									class="form-control"
									placeholder="description"
									id="description"
									name="description"
								><%=category.description%></textarea
								>
								<div class="mb-2 error">
									<%if (locals.errors) { %> <% for(let [index,data] of
									errors.entries() || []){ %> <% if (data.param === 'description') {
									%>
									<p> <%=data.msg%></p>
									<%} %> <%} %> <% } %>
								</div>
							</div>
							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</section>
		<%- include('../partials/footer') %>
	</body>
</html>
