<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/styles') %>
		<link rel="stylesheet" href="/common/css/fab.css" />
		<link rel="stylesheet" href="/index/css/index.css" />
		<title> <%=title%> </title>
	</head>

	<body>
		<%- include('./partials/nav') %>
		<%- include('./partials/messages') %>
		<section class="content">
			<div class="container" style="padding-top: 2rem">
				<div class="row">
					<div class="col-sm-12">
						<% if (categories.length > 0) {%>
						<div class="grid">
							<% for (var i = 0; i < categories.length; i++) { %>
							<div class="card mb-4 g-col">
								<div class="card-body">
									<h5 class="card-title"><%= categories[i].title %></h5>
									<p class="card-text"><%= categories[i].description %></p>
									<a href="/categories/<%=categories[i].id%>/" class="btn btn-primary">Edit</a>
								</div>
							</div>
							<%}%>
						</div>
						<%} else { %>
						<div class="card" style="width: 100%">
							<div class="card-body">
								<h5 class="card-title">There are no categories added</h5>
							</div>
						</div>
						<% } %>
					</div>
				</div>
			</div>
			<a
				href="/categories/"
				class="float d-flex align-items-center justify-content-center undecorated-link"
			>
				<i class="fa-solid fa-plus fa-2x"></i>
			</a>
		</section>
		<%- include('./partials/footer') %>
	</body>
</html>
