<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/styles') %>
		<title>
			<%=title%>
		</title>
</head>

<body>
	<%- include('../partials/nav') %>
		<div class="container">
			<div class="row">
				<span>
					<% if(messages.error) { %>
						<%= messages.error %>
							<% } %>
				</span>

			</div>
		</div>

		<section class="content">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 mt-4">
						<h2>Login</h2>
						<form action="/blog/login/" method="post">
							<div class="mb-2">
								<label class="form-label" for="email">Email</label>
								<input class="form-control" type="email" name="email" id="email" required />
							</div>
							<div class="mb-2">
								<label class="form-label" for="password">Password</label>
								<input class="form-control" type="password" name="password" id="password" required />
							</div>
							<div class="mb-2">
								<button type="submit" class="btn btn-primary">Login</button>
							</div>
							<div class="mb-2">
								<p>Don't have an account?
									<a href="/api/users/register">Register</a>
								</p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<%- include('../partials/footer') %>
</body>

</html>