<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/styles') %>
		<title> <%=title%> </title>
	</head>

	<body>
		<%- include('../partials/nav') %> <%- include('../partials/messages') %>

		<section class="content">
			<div class="container-fluid" style="height: 100%">
				<div class="row" style="height: 100%">
					<div
						class="col-sm-12 mt-4 col-md-6 bg-primary-subtle d-flex flex-column align-items-center justify-content-center"
					>
						<h2 class="text-center mb-4">Login</h2>
						<form action="/blog/login/" method="post" style="width: 80%">
							<div class="mb-4">

								<input
									class="form-control"
									type="email"
									name="email"
									id="email"
									required
									placeholder="Email"
								/>
							</div>
							<div class="mb-4">

								<input
									class="form-control"
									type="password"
									name="password"
									id="password"
									required
									placeholder="Password"
								/>
							</div>
							<div class="mb-4 text-center">
								<button type="submit" class="btn btn-primary">Login</button>
							</div>
						</form>
					</div>
					<div
						class="bg-light col-sm-12 mt-4 col-md-6 d-flex flex-column align-items-center justify-content-center"
					>
						<h2>New here?</h2>
						<p> Signup to start managing the blog. </p>
						<a href="/api/users/register" class="btn btn-primary">Signup</a>
					</div>
				</div>
			</div>
		</section>
		<%- include('../partials/footer') %>
	</body>
</html>
